<!DOCTYPE html>
<html>
 
<head>
    <title>Ohlone Map</title>
    <style>
        .img {
            width: 100vw;
            height: 100vh;
            background-image: url({{img}});
            background-size: cover;
        }
        body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <h2>Welcome To The Ohlone Map</h2>
    <form action="/map">
        <input type="hidden"
               name="From"
               value="{{From}}">

        <input type="hidden"
               name="To"
               value="{{To}}">

        <input type="hidden"
               name="i"
               value="{{i}}">
        
        <button type="submit">Next</button>
    </form>
    <div> <img src="{{img}}" style="width: 100vw;"></div>
</body>
 
</html>
